@import "tailwindcss";

@theme {
  --color-primary: #052d32;
  --color-secondary: #052e33;
  --color-body: #010101;
  --color-border: #093f46;
  
  --font-Metrophobic: "Metrophobic", sans-serif;
  --font-Philosopher: "Philosopher", sans-serif;



   --breakpoint-3xl: 120rem;
  --breakpoint-2xl: 93rem;
  --breakpoint-xl: 75rem;
  --breakpoint-lg: 62rem;
  --breakpoint-md: 48rem;
  --breakpoint-sm: 23rem;
  --breakpoint-xsm: 20rem;
}


